<div class="container">
    <div class="row">
        <div class="col-sm-12 " id="footer-monitor-traffic">
            <div class="monitor-traffic light-1" data-toggle="tooltip" data-placement="top" title="Closed"></div>
            <div class="monitor-traffic light-2" data-toggle="tooltip" data-placement="top" title="Repressed"></div>
            <div class="monitor-traffic light-3" data-toggle="tooltip" data-placement="top" title="Obstructed"></div>
            <div class="monitor-traffic light-4" data-toggle="tooltip" data-placement="top" title="Narrowed"></div>
            <div class="monitor-traffic light-5" data-toggle="tooltip" data-placement="top" title="Open"></div>
        </div>
    </div>
</div>

<div class="row" id="footer-grid">
    <div class="container-fluid">
        <div class="row" id="hp-link">
            <div class="col text-center">
                <a href="/index.html" class="btn btn-outline-dark">BACK TO THE HOMEPAGE</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 ">
                <a href="/methodology.html" class="footer-grid methodology">methodology</a>
            </div>
            <div class="col-12 col-md-4 ">
                <a href="/in-numbers.html" class="footer-grid in-numbers">in numbers</a>
            </div>
            <div class="col-12 col-md-4 ">
                <a href="/covid-19-and-civic-space.html" class="footer-grid downward-spiral">covid-19 and civic space</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 ">
                <a href="/uneven-crisis.html" class="footer-grid uneven-crisis">an uneven crisis</a>
            </div>
            <div class="col-12 col-md-4 ">
                <a href="/top-violations.html" class="footer-grid top-violations">top-violations</a>
            </div>
            <div class="col-12 col-md-4 ">
                <a href="/bright-spots.html" class="footer-grid bright-spots">bright spots</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 ">
                <a href="/rating-changes.html" class="footer-grid rating-changes">rating changes</a>
            </div>
            <div class="col-12 col-md-4 -4">
                <a href="/recommendations.html" class="footer-grid recommendations">recommendations</a>
            </div>
            <div class="col-12 col-md-4 ">
                <a href="/about.html" class="footer-grid about">about</a>
            </div>
        </div>
    </div>
</div>

<div class="row" id="colophon">
    <div class="col-12">
        &copy; <a href="https://monitor.civicus.org/" target="_blank">Civicus Monitor</a> (2021) | coding: <a href="https://level73.it" target="_blank">Level73</a> | graphics: Diego Lopez
    </div>
</div>
