<div class="container">
    <div class="row">
        <div class="col-sm-12 " id="footer-monitor-traffic">
            <div class="monitor-traffic light-1" data-toggle="tooltip" data-placement="top" title="Closed"></div>
            <div class="monitor-traffic light-2" data-toggle="tooltip" data-placement="top" title="Repressed"></div>
            <div class="monitor-traffic light-3" data-toggle="tooltip" data-placement="top" title="Obstructed"></div>
            <div class="monitor-traffic light-4" data-toggle="tooltip" data-placement="top" title="Narrowed"></div>
            <div class="monitor-traffic light-5" data-toggle="tooltip" data-placement="top" title="Open"></div>
        </div>
    </div>
</div>
<div class="row" id="footer-grid">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <a class="footer-grid methodology">methodology</a>
            </div>
            <div class="col-4">
                <a class="footer-grid in-numbers">in numbers</a>
            </div>
            <div class="col-4">
                <a class="footer-grid downward-spiral">a downward spiral</a>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <a class="footer-grid uneven-crisis">an uneven crisis</a>
            </div>
            <div class="col-4">
                <a class="footer-grid regional-analysis">regional analysis</a>
            </div>
            <div class="col-4"><a class="footer-grid bright-spots">bright spots</a></div>
        </div>
        <div class="row">
            <div class="col-4"><a class="footer-grid covid-19-rights">covid-19 rights</a></div>
            <div class="col-4"><a class="footer-grid recommendations">recommendations</a></div>
            <div class="col-4"><a class="footer-grid about">about</a></div>
        </div>
    </div>
</div>
<div class="row" id="colophon">
    <div class="col-12">
        &copy; Civicus (2021) - coding: Level73 - graphics: Diego Lopez
    </div>
</div>
