

<ul id="languages">
    <li><a href="">EN</a></li><li><a href="">ES</a></li><li><a href="">FR</a></li>
</ul>

<ul id="full-nav">
    <li><a href="about.html">About</a></li>
    <li><a href="methodology.html">Methodology</a></li>
    <li><a href="downward-spiral.html">Civic Space in a downward spiral</a></li>
    <li><a href="rating-changes.html">Country Rating Changes</a></li>
    <li><a href="in-numbers.html">In numbers</a></li>
    <li><a href="uneven-crisis.html">An uneven crisis</a></li>
    <li><a href="bright-spots.html">Bright spots</a></li>
    <li>
        <a href="regional-analysis.html">Regional Analysis</a>
        <ul>
            <li><a href="africa.html">Africa</a></li>
            <li><a href="americas.html">Americas</a></li>
            <li><a href="asia-pacific.html">Asia & Pacific</a></li>
            <li><a href="europe-central-asia.html">Europe & Central Asia</a></li>
            <li><a href="middle-east-north-africa.html">Middle East & North Africa</a></li>
        </ul>
    </li>
    <li><a href="recommendations.html">Recommendations</a></li>
    <li><a href="">Download the PDF</a></li>
    <li><a href="" target="_blank">Previous Reports</a></li>


</ul>

