

<ul id="languages">
    <li><a href="/rating-changes.html#resumen-global">ES</a></li><li><a href="/rating-changes.html#resume-global">FR</a></li>
</ul>

<ul id="full-nav">
    <li><a href="/about.html">About</a></li>
    <li><a href="/methodology.html">Methodology</a></li>
    <li><a href="/in-numbers.html">In numbers</a></li>
    <li><a href="/rating-changes.html">Country Rating Changes</a></li>
    <li><a href="/covid-19-and-civic-space.html">Covid-19 & Civic Space</a></li>
    <li><a href="/top-violations.html">Top Global Violations</a></li>
    <li><a href="/uneven-crisis.html">An uneven crisis</a></li>
    <li><a href="/bright-spots.html">Bright spots</a></li>
    <li>
        <a href="#">Regional Analysis</a>
        <ul>
            <li><a href="/africa.html">Africa</a></li>
            <li><a href="/americas.html">Americas</a></li>
            <li><a href="/asia-pacific.html">Asia & Pacific</a></li>
            <li><a href="/europe-central-asia.html">Europe & Central Asia</a></li>
            <li><a href="/middle-east-north-africa.html">Middle East & North Africa</a></li>
        </ul>
    </li>
    <li><a href="/recommendations.html">Recommendations</a></li>
    <li><a href="https://web.civicus.org/2021GlobalReport">Download the PDF</a></li>
    <li><a href="previous-reports.html" target="_blank">Previous Reports</a></li>
</ul>
<a href="/map.html">
    <img class="img-fluid" src="/assets/images/map-small-menu.png" alt="Civicus Monitor World Map of country ratings">
</a>
