@font-face {
  font-family: 'Calibri';
  src: url('../assets/fonts/Calibri-Bold.eot');
  src: url('../assets/fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Calibri-Bold.woff2') format('woff2'),
  url('../assets/fonts/Calibri-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri';
  src: url('../assets/fonts/Calibri-Italic.eot');
  src: url('../assets/fonts/Calibri-Italic.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Calibri-Italic.woff2') format('woff2'),
  url('../assets/fonts/Calibri-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento wide';
  src: url('../assets/fonts/Novecentowide-Bold.eot');
  src: url('../assets/fonts/Novecentowide-Bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Novecentowide-Bold.woff2') format('woff2'),
  url('../assets/fonts/Novecentowide-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri';
  src: url('../assets/fonts/Calibri.eot');
  src: url('../assets/fonts/Calibri.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Calibri.woff2') format('woff2'),
  url('../assets/fonts/Calibri.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento wide';
  src: url('../assets/fonts/Novecentowide-Normal.eot');
  src: url('../assets/fonts/Novecentowide-Normal.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Novecentowide-Normal.woff2') format('woff2'),
  url('../assets/fonts/Novecentowide-Normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento wide';
  src: url('../assets/fonts/Novecentowide-Light.eot');
  src: url('../assets/fonts/Novecentowide-Light.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Novecentowide-Light.woff2') format('woff2'),
  url('../assets/fonts/Novecentowide-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

