/** Main Colors **/
$closed_red:        #d53732;
$repressed_orange:  #e46c16;
$obstructed_yellow: #ebad41;
$narrowed_green:    #adae50;
$dark_green:        #459a62;

$backblack:         #242424;


// backgrounds
$bg_Red:        #e72932;
$bg_Orange:     #e6761e;
$bg_Yellow:     #f7b420;
$bg_Lightgreen: #b5b74b;
$bg_Opengreen:  #2ca867;



