/** Main Custom CSS **/
@import 'variables';
@import 'fonts';

h1, h2, h3, h4, h5, h6 {
  font-family: 'Novecento wide', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.content-page .container-fluid {
  &.bg-red { background-color: $bg_Red; }
  &.bg-orange { background-color: $bg_Orange; }
  &.bg-yellow { background-color: $bg_Yellow; }
  &.bg-lightgreen { background-color: $bg_Lightgreen; }
  &.bg-opengreen { background-color: $bg_Opengreen; }
}
.t-red { color: $bg_Red; font-weight: bold;}
.t-orange { color: $bg_Orange; font-weight: bold;}
.t-yellow { color: $bg_Yellow;font-weight: bold; }
.t-lightgreen { color: $bg_Lightgreen;font-weight: bold; }
.t-opengreen { color: $bg_Opengreen; font-weight: bold;}

.pd {
  margin-top: 15px;
  margin-bottom: 15px;
}

main.container { background: white; padding-top: 30px;
  a, .btn-link {color: $repressed_orange; }
  a.btn { color: white; }
}
.jumbotron { margin-bottom: 0px; }

#main-header {
  background-repeat:no-repeat;
  background-position-x: center;
  background-size: contain;
  background-attachment: fixed;
  background-color: white;
  height: 0;
  padding-top: 31%;
}
#recommendations ul li, #rating-changes ul li, #translated ul li {
  padding: 8px 0px;
  font-size: 1.2em;
}

#potbanger {
  position: absolute;
  width: 12.6875%;
  bottom: 100%;
  left: 76.3%;
  z-index: 1001;
}
h1 { text-align: center; }
p { font-family: 'Calibri', sans-serif; font-size: 1.2em; }
.slice {
  position: relative;
  align-items: flex-start; /* new */
  img.sliced {
    display: block;
    width: 100%;
    min-width: 100%;
    height: auto;
    //max-height: 100%; /** Adding this for Mac **/
  }

  .map-link {
    display: block;
    left: 15%;
    width: 70%;
    height: 60%;
  }
  .rollover, .map-link {

    position: absolute;
    z-index: 1000;
    //overflow: hidden;

    img {
      width: 100%;
    }

    // All Rollovers
    .roller-down {
      display: none;
      visibility: hidden;

    }
    &:hover {
      .roller-down { display: inline-block; visibility: visible; }
      .roller-up { display: none; visibility: hidden;  }
    }

    &#ro-about {
      left: 0.1%;
      top: 1%;
      width: 16.5625%;
    }

    &#ro-rating-changes {
      left: 12.77%;
      bottom: 8.035%;
      width: 28.125%;
    }

    &#ro-uneven-crisis {
      left: 47.5%;
      bottom: 15.75%;
      width: 30.06%;
    }

    &#ro-methodology {
      left:   15.4%;
      top:    3.75%;
      width:  28.125%;
    }

    &#ro-downward-spiral {
      left:   41.9%;
      bottom: 35.2%;
      width:  25.94%;
    }

    &#ro-bright-spots {
      left: 73.79%;
      //bottom: 65.75%;
      width: 20.875%;
    }


    &#ro-africa {
      left: 0%;
      bottom: 65.5%;
      width: 36.125%;
    }
    &#ro-americas {
      right: 0;
      bottom: 67.75%;
      width: 32.375%;
    }
    &#ro-asia-pacific {
      right: 0;
      bottom: 3%;
      width: 22.75%;
    }


    &#ro-top-global {
      left: 26.75%;
      bottom: 56.25%;
      width: 48.25%;
    }
    &#ro-eu-ca {
      right: 0;
      bottom: 25%;
      width: 34.9375%;
    }
    &#ro-mena {
      left: 0;
      bottom: 13.45%;
      width: 37.25%;
    }

    &#ro-recommendations {
      left: 30%;
      bottom: 16%;
      width: 38.875%;
    }

  }
}
*:focus { outline: 0 !important; border: 0px; }
.content-page header, #hp {
  margin-top: -113px;
}

.content-page p.intro { font-size: 1.5em; margin-bottom: 40px; text-align: center; }
.content-page #page-navigation { margin-bottom: 25px; }
.content-page .content-row { margin-top: 25px; margin-bottom: 50px; }
.content-page figure { margin-top: 10px; margin-bottom: 15px; max-width: 50%; float: left; display: inline-block; margin-right: 15px;
  img { max-width: 100%; text-align: left; }
  figcaption {  font-size: 0.75em; text-transform: uppercase;  font-family: 'Novecento wide', sans-serif; font-weight: normal; font-style: italic; text-align: center; }
}
.content { background-color: white; }

footer { padding: 40px 0px 0px;  }

/** Navbar **/
.menu-toggler {
  width: 96px; height: auto;
}

  .navbar-toggler { z-index: 1020; }
  .navbar-collapse {
    position: absolute;
    top: 0px;
    left: 0;
    padding-left: 15px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-top: 90px;
    max-width: 75%;
    z-index: 1010;
    min-height: 100vh;
    height: 100%;
    background: $backblack;
    -webkit-box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    1px 0px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         1px 0px 5px 0px rgba(50, 50, 50, 0.5);
  }
  .navbar-collapse.collapsing {
    height: auto;
    -webkit-transition: left 0.8s ease;
    -o-transition: left 0.8s ease;
    -moz-transition: left 0.8s ease;
    transition: left 0.8s ease;
    left: -100%;
  }
  .navbar-collapse.show {
    left: 0;
    -webkit-transition: left 0.2s ease-in;
    -o-transition: left 0.2s ease-in;
    -moz-transition: left 0.2s ease-in;
    transition: left 0.2s ease-in;
    /*position: fixed;*/
  }
.nav-item.active { }
.nav-link {
  font-family: 'Novecento wide', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  padding: 5px 0px 5px 0px;
  text-indent: 6px;
  &.active {
    color: $repressed_orange;
    background: #333;
  }
  &:hover { color: $obstructed_yellow; }
}
.nav-item ul {
  list-style: none;
  padding-lefT: 10px;
}
.menu-map { max-width: 250px !important; }

.btn.btn-primary {
  font-family: 'Novecento wide', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .nav-link {
    font-size: 14px;
    padding: 4px 0px 4px 0px;
  }

  #main-header {
    background-repeat:no-repeat;
    background-position-x: center;
    background-size: contain;
    background-attachment: fixed;
    background-color: white;
    height: 0;
    padding-top: calc(39.87% - 113px);
  }
}

@media (min-width: 992px) {
  h1 { font-size: 6em; text-align: center; margin: 30px auto 20px; }
}

.lang-modal {
  position: absolute;
  top: 40vh;
  left: 30%; //calc(50% - 140px);
  padding: 6px 30px;
  text-align: center;
  background: rgba(0,0,0,0.6);
  min-width: 40%;
  z-index: 9999;
  .lang-modal-inner a {
    display: block;
    color: white;
    background-color: $bg_Orange;
    text-transform: uppercase;
    font-family: 'Novecento wide', Arial, sans-serif;
    font-size: 1.6em;
    margin: 24px auto;
    clear: both;
    padding: 10px 35px;
  }
}

.rtl-text {

 ul li, p { text-align: right; direction: rtl; font-size: 1.3em; }
  .offset-sm-4 { margin-right: 33.33333%; margin-left: auto !important;}
}

/** New Styles 2022 */
html, body { height: 100%; }
footer#page-footer {
  background: white;
  #footer-monitor-traffic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .monitor-traffic {
    width: 60px;
    height: 60px;
    margin: 20px 5px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    &.light-1 { background-color: $bg_Red; }
    &.light-2 { background-color: $bg_Orange; }
    &.light-3 { background-color: $bg_Yellow; }
    &.light-4 { background-color: $bg_Lightgreen; }
    &.light-5 { background-color: $bg_Opengreen; }
    &:hover {
      width: 70px;
      height: 70px;
      border-radius: 35px;
      margin: 10px 0px;
    }

  }
  #footer-grid{
    background: #ccc;
    padding-top: 30px;
    padding-bottom: 40px;
    a.footer-grid {
      display: block;
      width: 100%;
      min-height: 130px;
      margin: 10px 0px;
      text-align: center;
      background: #1b1e21;
    }
  }
  #colophon {
    background: $backblack;
    color: white;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    a { color: yellow; text-decoration: none; &:hover { text-decoration: underline; } }
  }
}

/** Header & Nav **/
nav#main-navbar {
  width: 100%;
  background: $backblack;
  height: 30px;
  padding-top: 0px;
  padding-bottom: 0px;

  h1 {
    position: absolute;
    left: calc(50% - 113px);
    margin-top: 15px;
    font-size: 12px;
    color: white;
  }
  ul {
    padding: 0px;
    a { color: white; font-family: 'Novecento wide', sans-serif; text-transform: uppercase;  }
    &#languages {
      padding-top: 20px; padding-bottom: 20px;
      li {
        display: inline-block;
        width: 33%;
        text-align: center;
        font-size: 12px;
        &:not(:last-child){
          border-right: 1px solid white;
        }
      }
    }
    & li > ul {
      padding-left: 10px;
    }
    &#full-nav {
      li {
        padding: 4px 0px;
      }
    }
  }
}
/** Homepage **/
#homepage {
  background:  url('../assets/images/homepage-animation-full.gif') center top, url('../assets/images/homepage-background.jpg') center top;
  background-size: cover;
  background-repeat: no-repeat;
}
h1.main-title {
  mix-blend-mode: screen;
  font-weight: 400;
  margin-top: 10px;
  font-size: 1.8em;
  display: none;

  strong { font-weight: 900; }

  @media (min-width: 1172px){
    display: block;
    font-size: 4em;
  }
  @media (min-width: 768px){
    display: block;
  }
}

#main-map {
  @media (max-width: 576px){
    margin-top: 48px;
  }
  position: relative;
  background: url('../assets/images/map/full-color.png');
  background-size: cover;

  &.americas { background: url('../assets/images/map/americas.png') , url('../assets/images/map/full.png'); background-size: cover; }
  &.mena { background: url('../assets/images/map/mena.png'), url('../assets/images/map/full.png'); background-size: cover; }
  &.africa { background: url('../assets/images/map/africa.png'), url('../assets/images/map/full.png');  background-size: cover;}
  &.europe-central-asia { background: url('../assets/images/map/europe-central-asia.png'), url('../assets/images/map/full.png'); background-size: cover; }
  &.asia-pacific { background: url('../assets/images/map/asia-pacific.png'), url('../assets/images/map/full.png'); background-size: cover; }

  #dummymap {
    opacity: 0;
    width: 100%;
  }


}
#interactives {

  position: relative;
  max-height: 268vh;
  padding-top: 268vh;

  #country-rating-changes {
    display: block;
    position: absolute;
    right: 0%;
    top: 4%;
    width: 35.625%;
    height: 31%;
  }
  #in-numbers {
    display: block;
    position: absolute;
    left: 55%;
    top: 40%;
    width: 35.625%;
    height: 31%;
  }

  #top-violations {
    display: block;
    position: absolute;
    left: 0%;
    top: 25%;
    height: 25%;
    width: 54.625%;
  }
  #bright-spots {
    display: block;
    position: absolute;
    left: 0%;
    bottom: 0%;
    height: 31%;
    width: 35.625%;
  }



}
/** Region Pages **/
body.region-page {
  &.bg-red {
    background-color: $bg_Red;
  }

  &.bg-orange {
    background-color: $bg_Orange;
  }

  &.bg-yellow {
    background-color: $bg_Yellow;
  }

  &.bg-lightgreen {
    background-color: $bg_Lightgreen;
  }

  &.bg-opengreen {
    background-color: $bg_Opengreen;
  }

  section.head {
    height: 0;
    padding-top: calc(39.87% - 60px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;

    h1 {
      display: none;
    }

    &#africa {
      background-image: url('../assets/images/africa-header.jpg');
    }
    &#americas {
      background-image: url('../assets/images/americas-header.jpg');
    }
    &#asia-pacific {
      background-image: url('../assets/images/asia-pacific-header.jpg');
    }
    &#eaca {
      background-image: url('../assets/images/eaca-header.jpg');
    }
    &#mena {
      background-image: url('../assets/images/mena-header.jpg');
    }
  }

  .content-section {
    padding-top: 8vh;
    padding-bottom: 12vh;
    background: white;
  }
}
// p.intro { font-size: 1.4em; line-height: 180%; color: #343a40; font-weight: 300; }