/** Main Custom CSS **/
@import 'variables';
@import 'fonts';

h1, h2, h3, h4, h5, h6 {
  font-family: 'Novecento wide', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  small { font-size: 50%; color: #343a40; }
}
h2.byline { font-weight: 400; text-align: center;
margin-bottom: 50px;
}
article ul { margin-bottom: 30px; li { font-size: 1.2em; } }
.content-page .container-fluid {
  &.bg-red { background-color: $bg_Red; }
  &.bg-orange { background-color: $bg_Orange; }
  &.bg-yellow { background-color: $bg_Yellow; }
  &.bg-lightgreen { background-color: $bg_Lightgreen; }
  &.bg-opengreen { background-color: $bg_Opengreen; }
}
.t-red { color: $bg_Red; font-weight: bold;}
.t-orange { color: $bg_Orange; font-weight: bold;}
.t-yellow { color: $bg_Yellow;font-weight: bold; }
.t-lightgreen { color: $bg_Lightgreen;font-weight: bold; }
.t-opengreen { color: $bg_Opengreen; font-weight: bold;}

.pd {
  margin-top: 15px;
  margin-bottom: 15px;
}

main.container { background: white; padding-top: 30px;
  a, .btn-link {color: $repressed_orange; }
  a.btn { color: white; }
}
.jumbotron { margin-bottom: 0px; }

#main-header {
  background-repeat:no-repeat;
  background-position-x: center;
  background-size: contain;
  background-attachment: fixed;
  background-color: white;
  height: 0;
  padding-top: 31%;
}
#recommendations ul li, #rating-changes ul li, #translated ul li {
  padding: 8px 0px;
  font-size: 1.2em;
}

#potbanger {
  position: absolute;
  width: 12.6875%;
  bottom: 100%;
  left: 76.3%;
  z-index: 1001;
}
h1 { text-align: center; }
p { font-family: 'Calibri', sans-serif; font-size: 1.2em; }
.slice {
  position: relative;
  align-items: flex-start; /* new */
  img.sliced {
    display: block;
    width: 100%;
    min-width: 100%;
    height: auto;
    //max-height: 100%; /** Adding this for Mac **/
  }

  .map-link {
    display: block;
    left: 15%;
    width: 70%;
    height: 60%;
  }
  .rollover, .map-link {

    position: absolute;
    z-index: 1000;
    //overflow: hidden;

    img {
      width: 100%;
    }

    // All Rollovers
    .roller-down {
      display: none;
      visibility: hidden;

    }
    &:hover {
      .roller-down { display: inline-block; visibility: visible; }
      .roller-up { display: none; visibility: hidden;  }
    }

    &#ro-about {
      left: 0.1%;
      top: 1%;
      width: 16.5625%;
    }

    &#ro-rating-changes {
      left: 12.77%;
      bottom: 8.035%;
      width: 28.125%;
    }

    &#ro-uneven-crisis {
      left: 47.5%;
      bottom: 15.75%;
      width: 30.06%;
    }

    &#ro-methodology {
      left:   15.4%;
      top:    3.75%;
      width:  28.125%;
    }

    &#ro-downward-spiral {
      left:   41.9%;
      bottom: 35.2%;
      width:  25.94%;
    }

    &#ro-bright-spots {
      left: 73.79%;
      //bottom: 65.75%;
      width: 20.875%;
    }


    &#ro-africa {
      left: 0%;
      bottom: 65.5%;
      width: 36.125%;
    }
    &#ro-americas {
      right: 0;
      bottom: 67.75%;
      width: 32.375%;
    }
    &#ro-asia-pacific {
      right: 0;
      bottom: 3%;
      width: 22.75%;
    }


    &#ro-top-global {
      left: 26.75%;
      bottom: 56.25%;
      width: 48.25%;
    }
    &#ro-eu-ca {
      right: 0;
      bottom: 25%;
      width: 34.9375%;
    }
    &#ro-mena {
      left: 0;
      bottom: 13.45%;
      width: 37.25%;
    }

    &#ro-recommendations {
      left: 30%;
      bottom: 16%;
      width: 38.875%;
    }

  }
}
*:focus { outline: 0 !important; border: 0px; }
.content-page header, #hp {
  margin-top: -113px;
}

.content-page p.intro { font-size: 1.5em; margin-bottom: 40px; text-align: center; }
.content-page #page-navigation { margin-bottom: 25px; }
.content-page .content-row { margin-top: 25px; margin-bottom: 50px; }
.content-page figure { margin-top: 10px; margin-bottom: 15px; max-width: 50%; float: left; display: inline-block; margin-right: 15px;
  img { max-width: 100%; text-align: left; }
  figcaption {  font-size: 0.75em; text-transform: uppercase;  font-family: 'Novecento wide', sans-serif; font-weight: normal; font-style: italic; text-align: center; }
}
.content { background-color: white; padding-bottom: 30px; }

footer { padding: 40px 0px 0px;  }

/** Navbar **/
.menu-toggler {
  width: 48px; height: auto;

  @media (min-width: 576px){
    width: 96px; height: auto;
  }
}

  .navbar-toggler { z-index: 1020; }



  .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 20px;
    position: absolute;
    top: 0px;
    left: 0;

    max-width: 75%;
    z-index: 1010;
    min-height: 100vh;
    height: 100%;
    background: $backblack;
    -webkit-box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    1px 0px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         1px 0px 5px 0px rgba(50, 50, 50, 0.5);

    @media(min-width: 576px){

      padding-left: 15px;
      padding-right: 25px;
      padding-bottom: 15px;
      padding-top: 90px;

    }
  }



.navbar-collapse.collapsing {
    height: auto;
    -webkit-transition: left 0.8s ease;
    -o-transition: left 0.8s ease;
    -moz-transition: left 0.8s ease;
    transition: left 0.8s ease;
    left: -100%;
  }
  .navbar-collapse.show {
    left: 0;
    -webkit-transition: left 0.2s ease-in;
    -o-transition: left 0.2s ease-in;
    -moz-transition: left 0.2s ease-in;
    transition: left 0.2s ease-in;
    /*position: fixed;*/
  }
.nav-item.active { }
.nav-link {
  font-family: 'Novecento wide', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  padding: 5px 0px 5px 0px;
  text-indent: 6px;
  &.active {
    color: $repressed_orange;
    background: #333;
  }
  &:hover { color: $obstructed_yellow; }
}
.nav-item ul {
  list-style: none;
  padding-lefT: 10px;
}
.menu-map { max-width: 250px !important; }

.btn.btn-primary {
  font-family: 'Novecento wide', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .nav-link {
    font-size: 14px;
    padding: 4px 0px 4px 0px;
  }

  #main-header {
    background-repeat:no-repeat;
    background-position-x: center;
    background-size: contain;
    background-attachment: fixed;
    background-color: white;
    height: 0;
    padding-top: calc(39.87% - 113px);
  }
}

@media (min-width: 992px) {
  h1 { font-size: 6em; text-align: center; margin: 30px auto 20px; }
}

.lang-modal {
  position: absolute;
  top: 40vh;
  left: 30%; //calc(50% - 140px);
  padding: 6px 30px;
  text-align: center;
  background: rgba(0,0,0,0.6);
  min-width: 40%;
  z-index: 9999;
  .lang-modal-inner a {
    display: block;
    color: white;
    background-color: $bg_Orange;
    text-transform: uppercase;
    font-family: 'Novecento wide', Arial, sans-serif;
    font-size: 1.6em;
    margin: 24px auto;
    clear: both;
    padding: 10px 35px;
  }
}

.rtl-text {

 ul li, p { text-align: right; direction: rtl; font-size: 1.3em; }
  .offset-sm-4 { margin-right: 33.33333%; margin-left: auto !important;}
}

/** New Styles 2022 */
html, body { height: 100%; }
footer#page-footer {
  -webkit-box-shadow: 0px 0px 15px 3px rgba(46,46,46,0.74);
  box-shadow: 0px 0px 15px 3px rgba(46,46,46,0.74);
  background: white;
  #footer-monitor-traffic {
    display: flex;
    align-items: center;
    justify-content: center;
   // margin-bottom: 20px;
  }
  .monitor-traffic {
    width: 42px;
    height: 42px;
    margin: 20px 5px;
    border-radius: 21px;
    transition: all 0.3s ease-in-out;
    &.light-1 { background-color: $bg_Red; }
    &.light-2 { background-color: $bg_Orange; }
    &.light-3 { background-color: $bg_Yellow; }
    &.light-4 { background-color: $bg_Lightgreen; }
    &.light-5 { background-color: $bg_Opengreen; }
    &:hover {
      width: 70px;
      height: 70px;
      border-radius: 35px;
      margin: 10px 0px;
    }

  }
  #footer-grid{
    #hp-link {
      padding: 20px 0px 30px;
    }
    background: white;
    padding-top: 30px;
    padding-bottom: 40px;
    a.footer-grid {
      display: block;
      width: 100%;
      //min-height: 240px;
      padding-top: 39%;
      margin: 10px 0px;
      text-align: center;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      font-size: 0;

      &.methodology { background-image: url('/assets/images/methodology-header.jpg'); }
      &.in-numbers { background-image: url('/assets/images/in-numbers-header.jpg');}
      &.downward-spiral { background-image: url('/assets/images/covid-civic-space-header.jpg');}
      &.uneven-crisis { background-image: url('/assets/images/uneven-crisis-header.jpg');}
      &.bright-spots { background-image: url('/assets/images/bright-spots-header.jpg');}
      &.top-violations { background-image: url('/assets/images/top-violations-header.jpg');}
      &.recommendations { background-image: url('/assets/images/recommendations-header.jpg');}
      &.about { background-image: url('/assets/images/about-header.jpg');}
      &.rating-changes { background-image: url('/assets/images/country-rating-changes-header.jpg');}
    }
  }
  #colophon {
    background: $backblack;
    color: white;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    a { color: yellow; text-decoration: none; &:hover { text-decoration: underline; } }
  }
}

/** Header & Nav **/
nav#main-navbar {
  width: 100%;
  background: $backblack;
  height: 30px;
  padding-top: 0px;
  padding-bottom: 0px;

  h1 {
    position: absolute;
    left: calc(50% - 113px);
    margin-top: 15px;
    font-size: 12px;
    color: white;
  }
  ul {
    padding: 0px;
    a { color: white; font-family: 'Novecento wide', sans-serif; text-transform: uppercase;  }
    &#languages {
      padding-top: 20px; padding-bottom: 10px;
      @media(min-width: 576px){
        padding-bottom: 20px;
      }
      li {
        display: inline-block;
        width: 33%;
        text-align: center;
        font-size: 12px;
        &:not(:last-child){
          border-right: 1px solid white;
        }
      }
    }
    & li > ul {
      padding-left: 10px;
    }
    &#full-nav {
      li {
        font-size: 1em;
        @media(min-width: 576px) {
          padding: 4px 0px;
        }
      }
    }
  }
}
/** Homepage **/
#homepage {
  background:  url('../assets/images/homepage-animation-full.gif') center top, url('../assets/images/homepage-background.jpg') center top;
  background-size: cover;
  background-repeat: no-repeat;

  .menu-toggler {
    // margin-top: 40px;
     }
}
h1.main-title {
  mix-blend-mode: screen;
  font-weight: 400;
  margin-top: 10px;
  font-size: 1.8em;
  display: none;

  strong { font-weight: 900; }

  @media (min-width: 1172px){
    display: block;
    font-size: 4em;
  }
  @media (min-width: 768px){
    display: block;
  }

}

#main-map {
  @media (max-width: 576px){
    //margin-top: 30px;
  }
  position: relative;
  background: url('../assets/images/map/full-color.png');
  background-size: cover;

  &.americas { background: url('../assets/images/map/americas.png') , url('../assets/images/map/full.png'); background-size: cover; }
  &.mena { background: url('../assets/images/map/mena.png'), url('../assets/images/map/full.png'); background-size: cover; }
  &.africa { background: url('../assets/images/map/africa.png'), url('../assets/images/map/full.png');  background-size: cover;}
  &.europe-central-asia { background: url('../assets/images/map/europe-central-asia.png'), url('../assets/images/map/full.png'); background-size: cover; }
  &.asia-pacific { background: url('../assets/images/map/asia-pacific.png'), url('../assets/images/map/full.png'); background-size: cover; }

  #dummymap {
    opacity: 0;
    width: 100%;
    @media(max-width: 576px){
      height: 19vh;
    }

  }


}
#interactives {

  position: relative;
  //max-height: 268vh;
  padding-top: 167%;
  @media(min-width: 576px){
    padding-top: 132%;
  }

  #country-rating-changes {
    display: block;
    position: absolute;
    right: 0%;
    top: 4%;
    width: 35.625%;
    height: 31%;
  }
  #in-numbers {
    display: block;
    position: absolute;
    left: 55%;
    top: 40%;
    width: 35.625%;
    height: 31%;
  }

  #top-violations {
    display: block;
    position: absolute;
    left: 0%;
    top: 25%;
    height: 25%;
    width: 54.625%;
  }
  #bright-spots {
    display: block;
    position: absolute;
    left: 0%;
    bottom: 0%;
    height: 31%;
    width: 35.625%;
  }
  #civic-space-restrictions {
    display: block;
    position: absolute;
    right: 8%;
    bottom: 0%;
    height: 31%;
    width: 35.625%;
  }



}
/** Region Pages **/
body.region-page, body.page {
  position: relative;
  &.bg-red {
    background-color: $bg_Red;
  }

  &.bg-orange {
    background-color: $bg_Orange;
  }

  &.bg-yellow {
    background-color: $bg_Yellow;
  }

  &.bg-lightgreen {
    background-color: $bg_Lightgreen;
  }

  &.bg-opengreen {
    background-color: $bg_Opengreen;
  }

  section.head {
    //height: 0;
    padding-top: 39.87% ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 30px;
    background-attachment: fixed;

    h1 {
      display: none;
    }

    &#africa {
      background-image: url('../assets/images/africa-header.jpg');
    }
    &#americas {
      background-image: url('../assets/images/americas-header.jpg');
    }
    &#asia-pacific {
      background-image: url('../assets/images/asia-pacific-header.jpg');
    }
    &#eaca {
      background-image: url('../assets/images/eaca-header.jpg');
    }
    &#mena {
      background-image: url('../assets/images/mena-header.jpg');
    }
  }

  .content-section {
  //  padding-top: 8vh;
    padding-bottom: 12vh;
    background: white;
  }
}


#recommendations li { font-size: 1.6em; line-height: 160%;}
// p.intro { font-size: 1.4em; line-height: 180%; color: #343a40; font-weight: 300; }

#sidebar-nav-region {
  @media (max-width: 576px){ display: none; }

  a {
    text-align: center;
    color: $repressed_orange;
    font-family: "Novecento wide", sans-serif;

    &:hover {
      background-color: fade-out($backblack, 0.5);
      color: white;
    }

    &.active {
      background-color: $backblack;
      border-color: $backblack;
    }
  }

}
  #sidebar-nav-region.sticky-top{
    top: 30px;
  }
  /*.list-group-horizontal>.list-group-item+.list-group-item { border-width: 0px !important; }
  .list-group-flush>.list-group-item { border-width: 0px !important; } */
  .list-group-horizontal>.list-group-item { border-radius: 0px !important; }

  .region-page h2 {padding-top: 90px; }

  p.synopsis { font-size: 1.6em; line-height: 150%; text-align: center; margin-bottom: 30px; padding: 0 25px; }
  img.top-5-img { max-width: 60%; height: auto; text-align: right; float: right; margin-left: 15px;
    &.ral { float: left; max-width: 50%; margin-right: 15px;  margin-left: 0px; }
  }
.embed-responsive-map { margin-bottom: 30px; }
.embed-responsive-map::before {
  padding-top: 32%;
  @media (max-width: 572px){
    padding-top: 156%;
  }
}

section.container, article {
  a { color: $bg-Orange;
    &:hover { text-decoration: underline; }
  }
}

/** Country Rating Headers **/


.country-banner {
  color: white;
  padding-top: 15vh;
  padding-bottom: 25vh;
  margin-bottom: 30px;
  &#belarus-header {
    background: url('/assets/images/country-banners/belarus.png') no-repeat center center;
  }
  &#belgium-header {
    background: url('/assets/images/country-banners/belgium.png') no-repeat center center;
  }
  &#botswana-header {
    background: url('/assets/images/country-banners/botswana.png') no-repeat center center;
  }
  &#czech-republic-header {
    background: url('/assets/images/country-banners/czech-republic.png') no-repeat center center;
  }
  &#haiti-header {
    background: url('/assets/images/country-banners/haiti.png') no-repeat center center;
  }
  &#jordan-header {
    background: url('/assets/images/country-banners/jordan.png') no-repeat center center;
  }
  &#mongolia-header {
    background: url('/assets/images/country-banners/mongolia.png') no-repeat center center;
  }
  &#mozambique-header {
    background: url('/assets/images/country-banners/mozambique.png') no-repeat center center;
  }
  &#nicaragua-header {
    background: url('/assets/images/country-banners/nicaragua.png') no-repeat center center;
  }
  &#poland-header {
    background: url('/assets/images/country-banners/poland.png') no-repeat center center;
  }
  &#singapore-header {
    background: url('/assets/images/country-banners/singapore.png') no-repeat center center;
  }
  &#south-africa-header {
    background: url('/assets/images/country-banners/south-africa.png') no-repeat center center;
  }
  &#mali-header {
    background: url('/assets/images/country-banners/mali.png') no-repeat center center;
  }
  &#solomon-islands-header {
    background: url('/assets/images/country-banners/solomon-islands.png') no-repeat center center;
  }
}
/** other headers **/
section.head {
  //height: 0;
  padding-top: 39.87%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 30px;
  background-attachment: fixed;
  h1 {
    display: none;
  }
  &#about {
    background-image: url('/assets/images/about-header.jpg');
  }
  &#methodology {
    background-image: url('/assets/images/methodology-header.jpg');
  }
  &#country-rating-changes {
    background-image: url('/assets/images/country-rating-changes-header.jpg');
  }
  &#civic-space {
    background-image: url('/assets/images/covid-civic-space-header.jpg');
  }
  &#in-numbers {
    background-image: url('/assets/images/in-numbers-header.jpg');
  }
  &#top-violations {
    background-image: url('/assets/images/top-violations-header.jpg');
  }
  &#uneven-crisis {
    background-image: url('/assets/images/uneven-crisis-header.jpg');
  }
  &#bright-spots {
    background-image: url('/assets/images/bright-spots-header.jpg');
  }
  &#recommendations {
    background-image: url('/assets/images/recommendations-header.jpg');
  }

}
#grid-nav-wrapper { background-color: $backblack; margin-bottom: 30px; padding-top: 20px; padding-bottom: 20px; }
.grid-nav {
  display: block;
  min-height: 25vh;
  line-height: 25vh;
  text-align: center;
  font-family: "Novecento wide", sans-serif;
  text-transform: upeprcase;
  font-weight: 900;
  color: white !important;
  font-size: 1.4em;

  margin-top: 15px;
  margin-bottom: 15px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode: saturation;

  &.belarus {
    background-image: linear-gradient($backblack, $backblack), url('/assets/images/country-banners/belarus.png');
    &:hover {
      background-blend-mode: normal;
      background-image:  url('/assets/images/country-banners/belarus.png');
    }
  }

  &.belgium {
    background-image: linear-gradient($backblack, $backblack), url('/assets/images/country-banners/belgium.png');
    &:hover {
      background-blend-mode: normal;
      background-image:  url('/assets/images/country-banners/belgium.png');
    }
  }

  &.botswana {
    background-image: linear-gradient($backblack, $backblack), url('/assets/images/country-banners/botswana.png');
    &:hover {
      background-blend-mode: normal;
      background-image:  url('/assets/images/country-banners/botswana.png');
    }
  }

  &.czech-republic {
    background-image: linear-gradient($backblack, $backblack), url('/assets/images/country-banners/czech-republic.png');
    &:hover {
      background-blend-mode: normal;
      background-image:  url('/assets/images/country-banners/czech-republic.png');
    }
  }

  &.haiti {
    background-image: linear-gradient($backblack, $backblack), url('/assets/images/country-banners/haiti.png');
    &:hover {
      background-blend-mode: normal;
      background-image:  url('/assets/images/country-banners/haiti.png');
    }
  }

  &.jordan {
    background-image: linear-gradient($backblack, $backblack), url('/assets/images/country-banners/jordan.png');
    &:hover {
      background-blend-mode: normal;
      background-image:  url('/assets/images/country-banners/jordan.png');
    }
  }

  &.mongolia {
    background-image: linear-gradient($backblack, $backblack), url('/assets/images/country-banners/mongolia.png');
    &:hover {
      background-blend-mode: normal;
      background-image:  url('/assets/images/country-banners/mongolia.png');
    }
  }

  &.mozambique {
    background-image: linear-gradient($backblack, $backblack), url('/assets/images/country-banners/mozambique.png');
    &:hover {
      background-blend-mode: normal;
      background-image:  url('/assets/images/country-banners/mozambique.png');
    }
  }

  &.nicaragua {
    background-image: linear-gradient($backblack, $backblack), url('/assets/images/country-banners/nicaragua.png');
    &:hover {
      background-blend-mode: normal;
      background-image:  url('/assets/images/country-banners/nicaragua.png');
    }
  }

  &.poland {
    background-image: linear-gradient($backblack, $backblack), url('/assets/images/country-banners/poland.png');
    &:hover {
      background-blend-mode: normal;
      background-image:  url('/assets/images/country-banners/poland.png');
    }
  }

  &.singapore {
    background-image: linear-gradient($backblack, $backblack), url('/assets/images/country-banners/singapore.png');
    &:hover {
      background-blend-mode: normal;
      background-image:  url('/assets/images/country-banners/singapore.png');
    }
  }

  &.south-africa {
    background-image: linear-gradient($backblack, $backblack), url('/assets/images/country-banners/south-africa.png');
    &:hover {
      background-blend-mode: normal;
      background-image:  url('/assets/images/country-banners/south-africa.png');
    }
  }

  &.mali {
    background-image: linear-gradient($backblack, $backblack), url('/assets/images/country-banners/mali.png');
    &:hover {
      background-blend-mode: normal;
      background-image:  url('/assets/images/country-banners/mali.png');
    }
  }
  &.solomon-islands {
    background-image: linear-gradient($backblack, $backblack), url('/assets/images/country-banners/solomon-islands.png');
    &:hover {
      background-blend-mode: normal;
      background-image:  url('/assets/images/country-banners/solomon-islands.png');
    }
  }


}

#world-map { background: $backblack; }

#main-navbar.sticky-top { z-index: 1030; }

.row.pdg div { margin-top: 15px; margin-bottom: 15px; }

.date { display: block; margin: 15px auto 30px; font-size: 1.4em; font-family: "Novecento wide", sans-serif; font-weight: 300; text-align: center; text-transform: uppercase; }

#regional-sim-diff { border-top: 1px solid #ccc; h2 {  padding-top: 20px;  } }
body.region-page .content-section { padding-bottom: 20px; }

#footnotes {
  margin-top: 35px;
  margin-bottom: 25px;
  color: #1b1e21;
  font-size: 12px;
}

#previous-reports {
  margin-bottom: 80px;
  h1 { margin-bottom: 40px; }
  figcaption {
    display: block;
    font-family: "Novecento wide", sans-serif;
    padding: 5px 0px;
    font-weight: bold;
    text-align: center;
  }
}

.lang-link-modal a { color: $bg_Orange; &:hover { text-decoration: underline; color: $bg_Orange; }}